@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
$font: "Space Mono";
//Primary
$Scyan: hsl(0, 0%, 100%);


// Neutral
$dcyan: hsl(183, 100%, 15%);
$dgcyan: hsl(186, 14%, 43%);
$gcyan: hsl(184, 14%, 56%);
$lgcyan: hsl(185, 41%, 84%);
$vlgcyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

